body {
    background-color: black;
    font-family: verdana;
    text-align: center;
}

h4 {
    text-align: center;
}

img {
    display: block;
    margin: 30px auto;
}

#top-most-header {
    font-size: 50px;
    color: white;
    text-align: center;
    font-weight: normal;
}

.download {
    color: aquamarine;
    font-size: 16px;
}

#center-video {
    display: block;
    margin: 0 auto;
}

.subheader {
    font-weight: 300;
    font-size: 42px;
    color: white;
}

#explanation {
    color: gray;
    font-size: 21px;
}

#footer {
    color: gray;
    text-align: right;
}